<style>
  {
    @import url('https://fonts.googleapis.com/css?family=Ubuntu');
  }
  body {
    background-color: white;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    color: black;
    padding: 0;
  }
  tr {
    font-size: 30px;
    font-size: 30px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  table {
    text-align: center;
  }
  /*button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
  }*/
  button:hover {
    background-color: #6FBF72;
  }
  .form-group {
    margin: 10px;
  }
  .help-block {
    margin: 5px;
    color: red;
  }
  a:link, a:visited {
    color: black;
    background-color: ehite;
  }
  a:hover, a:active {
    color: orange;
    background-color: white;
  }
  h2 {
    color: orange;
  }
  div > ul {
    list-style-type: none;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
  div > ul > li {
    text-align: center;
    padding: 10px;
    display: inline;
  }
  a:link.header, a:visited.header {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a:hover.header, header.a:active.header {
    text-decoration: none;
    color: orange;
  }
</style>
